.big-container{
	width: 80%;
	height: 500px;
	background-color: blue;
	text-align: center;
}


.container{
	width:80%;
	/*margin-left:15%;*/
	background-color: pink;
	padding-top: 10px;
}

/*.container-second{
	width: 60%;
	height: 200px;
}*/

h4{
	background-color: #e74c3c;
	width: 80%;
	height: 20px;
	margin: 0 auto;
	padding:0 10px;
	/*margin: 10px;*/
	/*top:20px;*/
}

p{
	margin: 0 auto;
	padding: 0 10px;
	background-color: white;
	height: 100px;
	width: 80%;
	/*position: absolute;*/

}

p:hover{
	/*background-color: orange;*/
	cursor: pointer;
}



.inputBox{
	background-color: orange
}


.container-button {
text-align: right;
margin-top:-30px;
}

/*.editable{

}
*/

