.container{
	width:500px;
	height: 500px;
	margin-left:15%;
	background-color: pink;
	text-align: center;
}

.text-box {
	width: 80%;
	height: 100px;
	/*background-color: blue;*/


}

.text-box:hover{
	background-color: orange;

}